# Node dependencies
node_modules/

# TypeScript build
dist/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# ignore uploaded images
backend/src/uploads/